 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">       
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="/images/logo.png">BoOkStOrE
            </a>
          </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Help</a></li>
                <li><a href="/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge">{{session.cart.totalQty}}</span>
                  </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{#if login}}
                        <li><a href="/user/profile">User Account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/user/logout">Logout</a></li>
                      {{else}}
                        <li><a href="/user/signup">Sign Up</a></li>
                        <li><a href="/user/signin">Sign In</a></li>
                      {{/if}}
                    </ul>
                </li>
            </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>